<%- include("header")%>

<body> 
    <section class="funds1" id="bot"> 
        <h1>Contacts</h1> 
        <div class="row"> 
            <div class="funds1__col"> 
                <p><b>Амангелді Аружан</b><br/> 
                    phone number: 8747551****<br/> 
                    email: arukaenchante@gmail.com</p> 
            </div> 
            <div class="funds1__col"> 
                <p><b>Дәрменқызы Нұрбақыт</b><br/> 
                    phone number:8775739****<br/> 
                    email: 211417@astanait.edu.kz</p> 
            </div> 
            <div class="funds1__col"> 
                <p><b>Баймуханбетова Айгерім</b><br/> 
                    phone number:8775739****<br/> 
                    email: 211417@astanait.edu.kz</p> 
            </div> 
            <div class="funds1__col"> 
                <p><b>Нуралина Жамиля</b><br/> 
                    phone number:8775739****<br/> 
                    email: 211417@astanait.edu.kz</p> 
            </div> 
        </div> 
    </section> 
</body> 
</html>
 <%- include("footer")%>